relaunch/objects/edomizil/abarbeiten/wechseldateien/availability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Resultset">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="domizil">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="0" name="occupancy_year">
								<xs:annotation>
									<xs:documentation xml:lang="de">Detailierte Vakanzinformationen je Objekt</xs:documentation>
									<xs:documentation xml:lang="en">Detailed Vacancy Information for one object</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="occupancies">
											<xs:complexType>
												<xs:attribute name="year" type="xs:integer" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="de">Kalenderjahr, relevant für Datenstring mit Vakanzinformationen</xs:documentation>
														<xs:documentation xml:lang="en">Calendar year relevant for vacancy data string</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="start" use="optional">
													<xs:annotation>
														<xs:documentation xml:lang="de">Datenstring mit Vakanzinformationen (1 Wert = 1 Tag)</xs:documentation>
														<xs:documentation xml:lang="en">Data string for vacancies (1 Value = 1 Day)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value="[ABCFHNOTV]{365,366}">
																<xs:annotation>
																	<xs:documentation xml:lang="de">Wertausprägungen für Datenstring: A - Nicht belegt, B - Nicht belegt, Anreisetag, C - Nicht belegt, ungeteilt (z.B. Weihnachts-Zeitraum), F - Reserviert vom Besitzer (nach Anfrage) Anreisetag, H - Reserviert vom Besitzer (nach Anfrage), N - Gebucht, Anreisetag, O - Gebucht, T  - Belegt vom Besitzer, Anreisetag, V - Belegt vom Besitzer</xs:documentation>
																	<xs:documentation xml:lang="en">Values for data string: A - Available; B - Available, Arrival Day; C - Available, indivisible (e.g. Christmas time); F - Reserved by owner, Arrival Day; H - Reserved by owner; N - Booked out, Arrival Day; O - Booked out; T - Occupied by owner, Arrival Day; V - Occupied by owner</xs:documentation>
																</xs:annotation>
															</xs:pattern>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:integer" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="de">Eindeutige Objektnummer</xs:documentation>
								<xs:documentation xml:lang="en">Unique Object ID</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="UnitOwnerID" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="DE">Eindeutige Referenz-Anbieternummer, vergeben durch e-domizil</xs:documentation>
								<xs:documentation xml:lang="EN">Unique owner identifier, defined by e-domizil</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="InternalUnitID" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="DE">AnbieterObjektNr, vergeben durch Anbieter</xs:documentation>
								<xs:documentation xml:lang="EN">Unique unit identifier in owner system</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="InternalUnitID2" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="DE">AnbieterObjektNr2, vergeben durch Anbieter</xs:documentation>
								<xs:documentation xml:lang="EN">Further Unique unit identifier in owner system</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="container" type="xs:string" use="optional">
							<xs:annotation>
								<xs:documentation xml:lang="de">Datenkategorisierung</xs:documentation>
								<xs:documentation xml:lang="en">Data Category</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>